@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  /* font-weight: 500; */
}
.small {
  font-size: 10px;
  color: #aca5a5;
}
.container {
  display: grid;
  grid-template-columns: 20%;
  height: 100vh;
}
.left {
  padding: 10px;
  background-color: #f9f9f9;
  height: calc(100vh - 20px); /* Changed height to 100% */
  display: flex; /* Added display flex */
  flex-direction: column; /* Added flex-direction column */
}

.middle {
  flex-grow: 1; /* Allow the middle div to grow and occupy remaining space */
}
.left > .top {
  display: flex;
  /* text-align: center; */
  align-items: center;
  justify-content: space-between;
}
.left > .top > h4 {
  margin: 0 10px;
}
.left > .bottom > .plan > i {
  background-color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border: 1px solid black;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.left > .bottom > .plan {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.left > .bottom > .profile {
  display: flex;
  align-items: center;
}
.left > .bottom > .profile > img {
  border-radius: 35px;
  margin-right: 5px;
}
.middle {
  flex-grow: 1;
}
